@import "hover";
@import "nav";
@import "general";

/* body{
    margin: 0;
  }

header{
    display: flex ;
    min-height: 85px;
    background-color: black;
    align-items: center;
    padding: 5px 10%;
    justify-content: center;
}

.logo{
    display: flex;
     padding-right: 50px;
}


/*nav 
{
  ul 
  { 
    li{
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
    font-size: xx-large;

  }
}

nav ul li a{
   color: rgb(17, 0, 250);
   text-decoration: none;
   font-weight: bolds;
}

nav ul li a:hover{
    color:  red;
    transition: .5s;
 } */

/*  @media (max-weith:700px) {
   header{
    flex-direction: column;
  }   
 
  }

 .flex1{
   display: flex;
   margin: 20px 20px;
   padding: 10px 10px;
   font-size:x-large;
   font-weight: bold;
  }

  .titulo2 {
    display: flex;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 50px;
   }

   .titulo {
    display: flex;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 100px;
    font-weight: bold;
   }

   .row{
    flex: none;
   }

   .container-fluid{
    padding-top: 20px;
    margin: 20px 20px;
    
   }

   .containerfooter{
    background-color: blue;
   }
   .agencia{
    font-size: xx-large;
    color: azure;
   }
   .bg-dark text-white pt-5 pb-4 {
    position: fixed;
    bottom: 0;
   }

   .editorial{
    font-size: xx-large;
    font-weight: bold;
    background-color: blue;
    text-decoration-color: black;
     }
 */ 
    
  
  
/* .social img:hover {
  transform: scale(1.2);
     } */ 
   